<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="/assets/application.css" rel="stylesheet">
</head>
<body>

  <%= yield %>

  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/assets/ping.js"></script>
</body>
</html>